<div class="chat-header">
        <!-- Leave Button -->
        <div style="display: flex; flex-direction: row;">
          <button class="leave-button">
            <a href="/"><span class="leave-icon">←</span></a>
          </button>
          
          <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-around;" onClick="showAvatarMenu('http://127.0.0.1:5000/profile/Aize%D0%BD.1')">             
            <!-- Avatar and Chat Selector -->
            <div class="avatar-container"  aria-hidden="true">
              <img src="{{ chat.get_avatar_path() }}" alt="" class="avatar">
             </div>
              
            <div style="display: flex; flex-direction: column; align-items: center;">        
              <!-- Chat Description -->
              <div class="chat-description">
                <span>{{ chat.description }}</span>
              </div>   
              <br>
              <!-- Chat title -->
              <div class="chat-title">
                <span>{{ chat.title }}</span>
              </div>       
            </div>

            <!-- Chat Selector -->
            <div class="chat-selector">
              <div class="chat-list-toggle" onclick="toggleChatList()">Chats</div>
              <div class="chat-list-dropdown">
                {% for chat_entered_by_user in user_chats %}
                  <div class="chat-option">
                    <span class="new-messages-count">1</span>
                    <a href="{{ url_for('chat', url_name=chat_entered_by_user.url_name) }}" class="chat_link_in_menu">{{ chat_entered_by_user.title }}</a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
