
          <button id="openJoinModalButton">Подать заявку на вступление</button>         
          <div id="joinChatModal" class="modal" data-chat-url="{{ url_for('send_join_request', url_name=chat.url_name) }}">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Запрос на вступление в чат</h2>
              <form id="joinChatForm">
                 <input type="hidden" id="csrf-token" name="csrf_token" value="{{ csrf_token() }}"> 
                <textarea id="reason" placeholder="Введите причину запроса..." required></textarea>
                <button type="submit" id="submitRequest">Отправить запрос</button>
              </form>

              <div id="loadingMessage" style="display:none">
                <div class="loading-circle"></div>
                <p>Отправляется запрос...</p>
              </div>
              <div id="successMessage" style="display:none">
                <p>Запрос был отправлен, ожидайте ответа</p>
                <button id="closeModal">ОК</button>
              </div>
              <div id="errorMessage" style="display:none">
                <p id="errorText"></p>
                <button id="retryRequest">Повторить</button>
              </div>
            </div>
          </div>
          <script src="{{ url_for('static', filename='js/joinchatform.js') }}"></script>