<div class="banner">
       <img src="{{ url_for('static', filename='images/prayer_banners/pray_1.jpeg') }}" alt="" 
     style="border: 5px solid black; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); width: 300px; height: auto; transition: transform 0.2s;">

    <button onclick="openPage('game')">Участвовать</button>
<img src="{{ url_for('static', filename='images/prayer_banners/pray_1_alt.jpeg') }}" alt="" 
     style="border: 5px solid black; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); width: 300px; height: auto; transition: transform 0.2s;">

    <button onclick="openPage('game')">Участвовать</button>


    </div>