 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            
            font-family: 'Poppins', sans-serif;
            background-color: #1b1b1b;
            color: #fff;
        }

        .banner {
            position: relative;
            width: 100%;
            height: 100vh; /* Высота баннера 100% экрана */
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0;
        }

        .banner img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(50%); /* затемняем фон */
            z-index: 1; /* ниже остальных элементов */
        }

        .banner-content {
            z-index: 2; /* выше фонового изображения */
            color: #ffffff;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный фон для текста */
            transition: transform 0.3s ease;
        }

        .banner-content h1 {
            font-size: 3em;
            margin: 0;
            letter-spacing: 2px;
        }

        .banner-content p {
            font-size: 1.5em;
            margin: 10px 0;
        }

        .banner-content button {
            padding: 10px 20px;
            margin-top: 15px;
            font-size: 1em;
            border: none;
            background-color: #0073e6;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .banner-content button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>

<!-- Баннера -->
<div class="banner">
    <img src="{{ url_for('static', filename='images/prayer_banners/pray_1_alt.jpeg') }}">
    <div class="banner-content">
        <h1>Свет опредкляет тьму бытия</h1>
        <p>Пресоеденяйся к серверу в течение трёх недель чтоб использовать 3 шанса с утроенным шансом!</p>
        {# станьте героем своего собственного путешествия! #}
        <button onclick="openPage('game')">Let's Go!</button>
    </div>
</div>

<div class="banner">
    <img src="{{ url_for('static', filename='images/prayer_banners/pray_1_broken_link.jpeg') }}" alt="Баннер 2">
    <div class="banner-content">
        <h1>Откройте новый мир</h1>
        <p>Участвуйте в обсуждениях и добовляейте свой контент на сайт, за помощь и идеи вы можете получить специальные награды.</p>
        <button onclick="openPage('server')">Начать</button>
    </div>
</div>
