<div class="genshin-banner">
    <div class="banner-container">
        <img src="{{ url_for('static', filename='images/prayer_banners/pray_1.jpeg') }}" alt="Prayer Image 1" class="banner-image">
        <div class="banner-content">
            <h2 class="banner-title">Приглашаем вас к молитве</h2>
            <p class="banner-description">Присоединяйтесь к нашим духовным сессиям и найдите мир в своем сердце.</p>
            <a href="game" class="action-link">Исследовать</a>
        </div>
    </div>

    <div class="banner-container">
        <img src="{{ url_for('static', filename='images/prayer_banners/pray_1_alt.jpeg') }}" alt="Prayer Image 2" class="banner-image">
        <div class="banner-content">
            <h2 class="banner-title">Откройте свою душу</h2>
            <p class="banner-description">Погрузитесь в атмосферу покоя и гармонии с нашими практиками.</p>
            <a href="game" class="action-link">Исследовать</a>
        </div>
    </div>
</div>