<!-- Баннера -->
<div class="banner">
    <img src="{{ url_for('static', filename='images/prayer_banners/pray_1_alt.jpeg') }}">
    <div class="banner-content">
        <h1>Свет опредкляет тьму бытия</h1>
        <p>Пресоеденяйся к серверу в течение трёх недель чтоб использовать 3 шанса с утроенным шансом!</p>
        {# станьте героем своего собственного путешествия! #}
        <button onclick="openPage('game')">Let's Go!</button>
    </div>
</div>

<div class="banner">
    <img src="{{ url_for('static', filename='images/prayer_banners/pray_1_broken_link.jpeg') }}" alt="Баннер 2">
    <div class="banner-content">
        <h1>Откройте новый мир</h1>
        <p>Участвуйте в обсуждениях и добовляейте свой контент на сайт, за помощь и идеи вы можете получить специальные награды.</p>
        <button onclick="openPage('server')">Начать</button>
    </div>
</div>
