<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Minecraft Forum{% endblock %}</title>
  <link href="{{ url_for('static', filename='icons/favicon.ico') }}" rel="icon" type="image/x-icon">
  <link rel="shortcut icon" href="/static/icons/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  {% include 'head/fonts.html' %}
  {% include 'head/libs.html' %}
  {% include 'head/my_css.html' %}
  {% block additional_css %}
  {% endblock additional_css %}
</head>

  <body class="{% block page_class %}{%endblock%}">
    {% include 'include/navbar.html' %}
    {% include 'forum/navbar/index.html' %}
    <main class="page_container mt-5">

    {% block content %}{% endblock %}
  </main>

   {% include 'include/chat-icons.html' %}
  {% include 'footer.html' %}

  {% include 'inline_scripts.html' %}
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  <script src="{{ url_for('static', filename='js/anime/profile_icon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav_line.js') }}"></script>
   <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/widget.js') }}"></script>
</body>
</html>