
    <link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet">


  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/flash.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/demo_page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles/dark_feed.css') }}" rel="stylesheet">


    <link href="{{ url_for('static', filename='css/includes/nav_line.css') }}" rel="stylesheet">

   

   <link href="{{ url_for('static', filename='css/includes/chat_icons.css') }}" rel="stylesheet">
