<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="logo-text">{{ server.server_name }}</span>
    </a>
    {% if user %}
      <a class="profile-icon" href="{{ url_for('profile', profile_url=user.username ~ '.' ~ user.id) }}">
    {% else %}
      <a class="profile-icon" href="{{ url_for('auth.entry') }}">
    {% endif %}
      <i class="fas fa-user-circle fa-2x"></i>
    </a>
  </div>
</nav>

<style>
  .profile-icon {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
    margin-left: auto;
  }
  .profile-icon:hover {
    transform: scale(1.1);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-brand {
    flex-grow: 1;
  }
</style>