/* Основной контейнер */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Заголовок */
.header {
    text-align: center;
    margin-bottom: 20px;
}

/* Разделитель */
.separator {
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
}

/* Информация о форуме */
.forum-info {
    margin-bottom: 40px;
}

/* Описание */
.description {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}

/* Темы */
.topics {
    margin-bottom: 40px;
}

/* Отдельная секция */
.shadow-host {
    margin-bottom: 40px;
}

/* Сообщения постов */
.post-messages {
    border-top: 2px solid #ccc;
    padding-top: 20px;
}






.genshin-banner {
    display: flex;
    justify-content: center; /* Центрировать баннеры */
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px; /* Пространство между баннерами */
}

.banner-container {
    position: relative; /* Для абсолютного позиционирования внутреннях элементов */
    overflow: hidden; /* Скрыть выходящие элементы */
    border-radius: 15px; /* Закругленные углы */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); /* Тень для всего баннера */
    transition: transform 0.3s, box-shadow 0.3s;
}

.banner-container:hover {
    transform: translateY(-10px); /* Эффект поднятия при наведении */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Увеличение тени при наведении */
}

.banner-image {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.banner-content {
    position: absolute;
    bottom: 10px; /* Поднять текст вверх */
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5); /* Полу-прозрачный фон для текста */
    border-radius: 5px;
    color: white; /* Цвет текста */
    padding: 15px;
    text-align: center; /* Центрировать текст внутри контейнера */
}

.banner-title {
    font-size: 24px; /* Размер заголовка */
    margin: 0; /* Убрать отступы */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); /* Тень для заголовка */
}

.banner-description {
    font-size: 16px; /* Размер описания */
    margin: 10px 0; /* Отступы */
    line-height: 1.5; /* Высота строки для лучшей читаемости */
}

.action-link {
    display: inline-block; /* Сделать ссылку блочной для добавления отступов */
    padding: 10px 20px; /* Отступы для ссылки */
    background-color: #4CAF50; /* Цвет фона ссылки */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы для ссылки */
    font-size: 16px; /* Размер шрифта */
    text-decoration: none; /* Убрать подчеркивание */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-top: 10px; /* Отступ сверху */
}

.action-link:hover {
    background-color: #45a049; /* Темнее при наведении */
}
