
      <div class="root-options-container chat-links" style="display: flex; align-items: center; justify-content: center;">
          <button class="root-option"><a href="/chat/create_chat">+ чат</a></button>
          <button class="root-option"><a href="{{ url_for('create_category') }}">+ категория</a></button>
          <button class="root-option"><a href="/topics/create">+ тема</a></button>
       <button class="root-option"><a href="{{ url_for('create_server') }}">✍️ Сервер</a>
</button>
       </div>
